.fa-align-right {
    color: white;
    /* font-weight: normal; */
}
#side-menu .close {
    font-size: 36px;
    font-weight: 400;
    background-color: transparent !important;
    border: none;
}
@media (max-width: 575.98px) {  
    .contact-i {
        display: flex;
        justify-content: center;
    }
    .footer-top .col-md-6:nth-child(3) {
        margin-top: 0px;
    }
    .footer-top .col-md-6:nth-child(4) {
        margin-top: 0px;
    }
    #footer h4 {
        font-size: 22px;
    }
    .footer-bottom  p {
        text-align: center;
    }
    .bottom-1, .bottom-2, .bottom-3 {
        text-align: center;
    }
    #footer {
        text-align: center;
    }
    #footer p {
        color: #A3A7A8;
        font-size: 14px;
        line-height: 1.6;
        text-align: center;
    }
}
    

@media (max-width: 767.98px) {  
    #about {
        flex-direction: column;
    }
    #testimonial .col-md-6:last-child {
        margin-top: 20px;
    }
    
}

@media (max-width: 991.98px) {  
   
    .footer-top {
        padding: 50px 0;
    }
    .footer-top .col-md-6:nth-child(3) {
        margin-top: 50px;
    }
    .footer-top .col-md-6:nth-child(4) {
        margin-top: 50px;
    }
    
}

@media (max-width: 1199.98px) {  }